@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: radial-gradient(circle at 50% 50%, #ffe3a3 0, #f2d59d 50%, #e5c897 100%);
}    

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-image: radial-gradient(circle at 45.08% 45.08%, #00000000 0, #36322a00 25%, #f2deb500 50%, #eed5a800 75%, #eaca9b00 100%);
}

.cabecalho-imagem {
    height: 100px;
   
}

.cabecalho-menu {
    margin-right: -400px;
}

.cabecalho-menu a{
    position: relative;
    font-size: 1.1em;
    color: #8B0000;
    text-decoration: none;
    font-weight: 600;
    margin-left: 46px;
    cursor: pointer;
}

.cabecalho-menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 4px;
    background: #A52A2A;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .3s;
}

.cabecalho-menu a:hover::after {
    transform-origin: center;
    transform: scaleX(1);
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #A52A2A;
    font-weight: 400;
    font-size: 16px;
}

.cabecalho-menu-login{
    width: 120px;
    height: 50px;
    background: #8B0000;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    font-weight: 600;
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    box-shadow: 2px 2px 2px black;
    margin-right: -200px;
}

.cabecalho-menu-login:hover {
    background: #B22222;
}

.line-top{
    border-top: 2px solid #8B0000;
}

.card-color{
    background-image: radial-gradient(circle at 45.08% 45.08%, #fbf0d0 0, #f7e7c3 25%, #f2deb5 50%, #eed5a8 75%, #eacb9b 100%);
}