@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: radial-gradient(circle at 50% 50%, #ffe3a3 0, #f2d59d 50%, #e5c897 100%);
}    

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-image: radial-gradient(circle at 45.08% 45.08%, #00000000 0, #36322a00 25%, #f2deb500 50%, #eed5a800 75%, #eaca9b00 100%);
}

.cabecalho-imagem {
    height: 100px;
   
}

.cabecalho-menu {
    margin-right: -400px;
}

.cabecalho-menu a{
    position: relative;
    font-size: 1.1em;
    color: #8B0000;
    text-decoration: none;
    font-weight: 600;
    margin-left: 46px;
    cursor: pointer;
}

.cabecalho-menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 4px;
    background: #A52A2A;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .3s;
}

.cabecalho-menu a:hover::after {
    transform-origin: center;
    transform: scaleX(1);
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #A52A2A;
    font-weight: 400;
    font-size: 16px;
}

.cabecalho-menu-login{
    width: 120px;
    height: 50px;
    background: #8B0000;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    font-weight: 600;
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    box-shadow: 2px 2px 2px black;
    margin-right: -200px;
}

.cabecalho-menu-login:hover {
    background: #B22222;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 1.8px solid #A52A2A;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -12%;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-top: 3%;   
}

.conteudo-principal-escrito-titulo {
    margin-left: 22%;
    font-family: 'Roboto', sans-serif;
    font-weight: 1200;
    font-size: 64px;
    color: #8B0000;
}

.conteudo-principal-escrito-subtitulo {
    margin-left: 22%;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #B22222;
}

.conteudo-principal-escrito-botao {
    background-color: #8B0000;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 2px 2px 2px black;
    border-radius: 16px;
    font-family: 'Sarala', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFAFA;
    margin-left: 22%;
    cursor: pointer;
}

.conteudo-principal-escrito-botao:hover {
    background-color: #B22222;
}

.conteudo-principal-imagem {
    height: 460px;
    margin-left: 10px;
    margin-top: 3%;
}

.conteudo-importancia {
    display: flex;
    font-family: 'Sarala', sans-serif;
    width: 80%;
    font-size: 17px;
    margin-left: 150px;
    gap: 100px;
    margin-top: 20px;
}

.p-1 {
    background-image: radial-gradient(circle at 45.08% 45.08%, #fbf0d0 0, #f7e7c3 25%, #f2deb5 50%, #eed5a8 75%, #eacb9b 100%);
    width: 4000px;
    height: 420px;
    border-radius: 10px;
    outline: auto;
    outline-style: solid;
    outline-color: #73654B;
    box-shadow: 20px 20px 20px -20px;
    text-align: justify;
    padding: 20px 40px 20px 40px;
}

.p-1:hover {
    color: black;
    transform: scale(1.08);
    transition: all 0.5s ease;
}

.p-2{
    background-image: radial-gradient(circle at 45.08% 45.08%, #fbf0d0 0, #f7e7c3 25%, #f2deb5 50%, #eed5a8 75%, #eacb9b 100%);
    width: 4000px;
    height: 420px;
    border-radius: 10px;
    outline: auto;
    outline-style: solid;
    outline-color: #73654B;
    box-shadow: 20px 20px 20px -20px;
    text-align: justify;
    padding: 20px 40px 20px 40px;
}

.p-2:hover {
    color: black;
    transform: scale(1.08);
    transition: all 0.5s ease;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
}

.conteudo-secundario-titulo {
    border-top: 2px solid #8B0000;
    padding-top: 16px;
    font-family: 'Sarala', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #8B0000;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 32px;
    margin-top: 20px;
}

.card {
    background-image: radial-gradient(circle at 45.08% 45.08%, #fbf0d0 0, #f7e7c3 25%, #f2deb5 50%, #eed5a8 75%, #eacb9b 100%);
    width: 280px;
    height: 260px;
    margin: 46px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: auto;
    outline-style: solid;
    outline-color: #73654B;
    text-align: center;
    padding: 5px;
    box-shadow: 20px 20px 20px -20px;
    margin-top: -34px;
}    

.card h4 {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.card p {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.card:hover {
    color: black;
    transform: scale(1.16);
    transition: all 0.5s ease-out;
}

.icons {
    font-size: 46px;
}

.icon-coracao {
    margin: 190px;
}

.icon-social {
    margin: 122px;
}

.icon-saude {
    margin: 190px;
}

.icon-financeiro {
    margin: 124px;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

@media screen and (min-width: 1920px)
{
    .icons {
        font-size: 46px;
    }
    
    .icon-coracao {
        margin: 15.4rem;
    }
    
    .icon-social {
        margin: 9.8rem;
    }
    
    .icon-saude {
        margin: 15.3rem;
    }
    
    .icon-financeiro {
        margin: 9.7rem;
    }

    .card p {
        padding: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        font-weight: 600;
    }

    .card h4 {
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        display: flex;
        justify-content: center;
        text-decoration: underline;
    }

    .card {
        background-image: radial-gradient(circle at 45.08% 45.08%, #fbf0d0 0, #f7e7c3 25%, #f2deb5 50%, #eed5a8 75%, #eacb9b 100%);
        width: 280px;
        height: 260px;
        margin: 90px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: auto;
        outline-style: solid;
        outline-color: #73654B;
        text-align: center;
        padding: 5px;
        box-shadow: 20px 20px 20px -20px;
        margin-top: -34px;
    }

    .conteudo-principal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-left: -10%;
    }

    .conteudo-principal-imagem {
        height: 460px;
        margin-left: 20px;
        margin-top: 2%;
    }
}

@media screen and (max-width: 1440px) {

    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        background-image: radial-gradient(circle at 45.08% 45.08%, #00000000 0, #36322a00 25%, #f2deb500 50%, #eed5a800 75%, #eaca9b00 100%);
    }
    
    .cabecalho-imagem {
        height: 100px;
        margin-left: -100px;
    }
    
    .cabecalho-menu {
        margin-right: -300px;
    }
    
    .cabecalho-menu a{
        position: relative;
        font-size: 1.1em;
        color: #8B0000;
        text-decoration: none;
        font-weight: 600;
        margin-left: 46px;
        cursor: pointer;
    }
    
    .cabecalho-menu a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 4px;
        background: #A52A2A;
        border-radius: 5px;
        transform-origin: center;
        transform: scaleX(0);
        transition: transform .3s;
    }
    
    .cabecalho-menu a:hover::after {
        transform-origin: center;
        transform: scaleX(1);
    }
    
    .cabecalho-menu-item {
        font-family: 'Sarala', sans-serif;
        color: #A52A2A;
        font-weight: 400;
        font-size: 16px;
    }
    
    .cabecalho-menu-login{
        width: 120px;
        height: 50px;
        background: #8B0000;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.2em;
        color: white;
        font-weight: 600;
        font-family: 'Sarala', sans-serif;
        font-size: 20px;
        box-shadow: 2px 2px 2px black;
        margin-right: -200px;
    }

    .icons {
        font-size: 46px;
    }
    
    .icon-coracao {
        margin: 200px;
    }
    
    .icon-social {
        margin: 76px;
    }
    
    .icon-saude {
        margin: 199px;
    }
    
    .icon-financeiro {
        margin: 74px;
    }

    .card {
        background-image: radial-gradient(circle at 45.08% 45.08%, #fbf0d0 0, #f7e7c3 25%, #f2deb5 50%, #eed5a8 75%, #eacb9b 100%);
        width: 240px;
        height: 260px;
        margin: 46px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: auto;
        outline-style: solid;
        outline-color: #73654B;
        text-align: center;
        padding: 5px;
        box-shadow: 20px 20px 20px -20px;
        margin-top: -34px;
    } 

    .card p {
        padding: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        font-weight: 600;
    }

    .card h4 {
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        display: flex;
        justify-content: center;
        text-decoration: underline;
    }
  }

@media screen and (max-width: 768px)
{
    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        background-image: radial-gradient(circle at 45.08% 45.08%, #00000000 0, #36322a00 25%, #f2deb500 50%, #eed5a800 75%, #eaca9b00 100%);
    }
    
    .cabecalho-imagem {
        height: 90px;
        margin-left: -120px;
        margin-right: -440px;
    }
    
    .cabecalho-menu a{
        position: relative;
        font-size: 1.1em;
        color: #8B0000;
        text-decoration: none;
        font-weight: 600;
        margin-left: 40px;
    }
    
    .cabecalho-menu a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 4px;
        background: #A52A2A;
        border-radius: 5px;
        transform-origin: center;
        transform: scaleX(0);
        transition: transform .3s;
    }
    
    .cabecalho-menu a:hover::after {
        transform-origin: center;
        transform: scaleX(1);
    }
    
    .cabecalho-menu-item {
        font-family: 'Sarala', sans-serif;
        color: #A52A2A;
        font-weight: 400;
        font-size: 16px;
    }
    
    .cabecalho-menu-login{
        width: 100px;
        height: 40px;
        background: #8B0000;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.2em;
        color: white;
        font-weight: 600;
        font-family: 'Sarala', sans-serif;
        font-size: 20px;
        box-shadow: 2px 2px 2px black;
    }
    
    .cabecalho-menu-login:hover {
        background: #B22222;
    }
    
    .conteudo {
        margin-bottom: 48px;
        border-top: 1.8px solid #A52A2A;
    }
    
    .conteudo-principal-escrito-titulo {
        margin-left: 70%;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 20px;
        color: #8B0000;
    }
    
    .conteudo-principal-escrito-subtitulo {
        margin-left: 22%;
        font-family: 'Sarala', sans-serif;
        font-weight: 200;
        font-size: 16px;
        color: #B22222;
        margin-top: 5%;
    }
    
    .conteudo-principal-escrito-botao {
        background-color: #8B0000;
        width: 120px;
        height: 60px;
        border: none;
        box-shadow: 2px 2px 2px black;
        border-radius: 16px;
        font-family: 'Sarala', sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #FFFAFA;
        margin-left: 68%;
        margin-top: 10%;
        margin-bottom: -30%;
    }
    
    .conteudo-principal-escrito-botao:hover {
        background-color: #B22222;
    }
    
    .conteudo-principal-imagem {
        height: 120px;
        margin-left: 10px;
        margin-top: 10%;
    }
    
    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    
    .conteudo-secundario-titulo {
        border-top: 2px solid #8B0000;
        padding-top: 20px;
        font-family: 'Sarala', sans-serif;
        font-weight: 600;
        font-size: 22px;
        color: #8B0000;
        margin-bottom: 50px;
    }
    
    .container {
        display: flex;
        justify-content: center;
        padding: 32px;
        margin-top: 20px;
    }
    
    .card {
        background-image: radial-gradient(circle at 45.08% 45.08%, #fbf0d0 0, #f7e7c3 25%, #f2deb5 50%, #eed5a8 75%, #eacb9b 100%);
        width: 130px;
        height: 350px;
        margin: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: auto;
        outline-style: solid;
        outline-color: #73654B;
        text-align: center;
        padding: 5px;
        box-shadow: 20px 20px 20px -20px;
        margin-top: -34px;

    }    
    
    .card h4 {
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        text-decoration: underline;
    }
    
    .card p {
        padding: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 600;
    }
    
    .card:hover {
        color: black;
        transform: scale(1.16);
        transition: all 1s ease-out;
    }
    
    .icons {
        font-size: 20px;
    }
    
    .icon-coracao {
        margin: 120px;
    }
    
    .icon-social {
        margin: 24px;
    }
    
    .icon-saude {
        margin: 120px;
    }
    
    .icon-financeiro {
        margin: 24px;
    }
    
    .rodape {
        padding: 32px;
        border-top: 0.4px solid #FFF2E7;
    }
}


@media screen and (max-width: 360px)
{
    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        background-image: radial-gradient(circle at 45.08% 45.08%, #00000000 0, #36322a00 25%, #f2deb500 50%, #eed5a800 75%, #eaca9b00 100%);
    }
    
    .cabecalho-imagem {
        height: 90px;
        margin-left: 1%;
    }
    
    .cabecalho-menu a{
        position: relative;
        font-size: 1.1em;
        color: #8B0000;
        text-decoration: none;
        font-weight: 600;
        margin-left: 40px;
    }
    
    .cabecalho-menu a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 4px;
        background: #A52A2A;
        border-radius: 5px;
        transform-origin: center;
        transform: scaleX(0);
        transition: transform .3s;
    }
    
    .cabecalho-menu a:hover::after {
        transform-origin: center;
        transform: scaleX(1);
    }
    
    .cabecalho-menu-item {
        font-family: 'Sarala', sans-serif;
        color: #A52A2A;
        font-weight: 400;
        font-size: 16px;
    }
    
    .cabecalho-menu-login{
        width: 100px;
        height: 40px;
        background: #8B0000;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.2em;
        color: white;
        font-weight: 600;
        font-family: 'Sarala', sans-serif;
        font-size: 20px;
        box-shadow: 2px 2px 2px black;
    }
    
    .cabecalho-menu-login:hover {
        background: #B22222;
    }
    
    .conteudo {
        margin-bottom: 48px;
        border-top: 1.8px solid #A52A2A;
    }
    
    .conteudo-principal-escrito-titulo {
        margin-left: 70%;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 20px;
        color: #8B0000;
    }
    
    .conteudo-principal-escrito-subtitulo {
        margin-left: 22%;
        font-family: 'Sarala', sans-serif;
        font-weight: 200;
        font-size: 16px;
        color: #B22222;
        margin-top: 5%;
    }
    
    .conteudo-principal-escrito-botao {
        background-color: #8B0000;
        width: 120px;
        height: 60px;
        border: none;
        box-shadow: 2px 2px 2px black;
        border-radius: 16px;
        font-family: 'Sarala', sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #FFFAFA;
        margin-left: 68%;
        margin-top: 10%;
        margin-bottom: -30%;
    }
    
    .conteudo-principal-escrito-botao:hover {
        background-color: #B22222;
    }
    
    .conteudo-principal-imagem {
        height: 120px;
        margin-left: 10px;
        margin-top: 10%;
    }
    
    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    
    .conteudo-secundario-titulo {
        border-top: 2px solid #8B0000;
        padding-top: 20px;
        font-family: 'Sarala', sans-serif;
        font-weight: 600;
        font-size: 22px;
        color: #8B0000;
        margin-bottom: 50px;
    }
    
    .container {
        display: flex;
        justify-content: center;
        padding: 32px;
        margin-top: 20px;
    }
    
    .card {
        background-image: radial-gradient(circle at 45.08% 45.08%, #fbf0d0 0, #f7e7c3 25%, #f2deb5 50%, #eed5a8 75%, #eacb9b 100%);
        width: 80px;
        height: 500px;
        margin: 4px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: auto;
        outline-style: solid;
        outline-color: #73654B;
        text-align: center;
        padding: 5px;
        box-shadow: 20px 20px 20px -20px;
        margin-top: -34px;

    }    
    
    .card h4 {
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        text-decoration: underline;
    }
    
    .card p {
        padding: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 600;
    }
    
    .card:hover {
        color: black;
        transform: scale(1.16);
        transition: all 1s ease-out;
    }
    
    .icons {
        font-size: 20px;
    }
    
    .icon-coracao {
        margin: 40px;
    }
    
    .icon-social {
        margin: 22px;
    }
    
    .icon-saude {
        margin: 40px;
    }
    
    .icon-financeiro {
        margin: 24px;
    }
    
    .rodape {
        padding: 32px;
        border-top: 0.4px solid #FFF2E7;
    }
}
